<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say Something
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
          <% @messages.each do |msg| %>
          <div class="event">
            <div class="content">
              <div class="summary">
                  <em><%= msg.user.username %></em>: <%= msg.body %><br>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <%= form_with model: @message,class:"ui reply form", url: message_path, remote: true do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Enter a message..." %>
              <%= f.button '<i class="bordered inverted orange icon edit"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<div class="four wide column">
  <div class="ui card fluid raised chatbox">
    <div class="content">
      <div class="ui inverted vertical menu">
        <a class="item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
      </div>
    </div>
  </div>
</div>
</div>
